.note {
    background: var(--note-block-bg-color);
    padding: 18px 24px;
    border-left: 4px solid var(--note-block-border-color);
    margin-bottom: 1em;
    font-size: 14px;
}

.note.hazardstatement {
    border-radius: 0.25rem;
    border: 1px solid var(--note-hazard-border-color);
    background: var(--note-hazard-bg-color);
}

.hazardstatement::before {
    background: url("./hazard-note.svg");
}