.table-headcount-2 {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.table-headcount-2 > div {
  display: table-row;
}

.table-headcount-2 > div > div {
  display: table-cell;
  padding: 8px;
  border: 1px solid black;
}

.table-headcount-2 > div:nth-child(1) > div {
  font-weight: bold;
}

.table-headcount-2 > div:nth-child(2) > div {
  font-weight: bold;
}