.table-headcount-1 {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.table-headcount-1 > div {
  display: table-row;
}

.table-headcount-1 > div > div {
  display: table-cell;
  padding: 8px;
  border: 1px solid black;
}

.table-headcount-1 > div:first-child > div {
  font-weight: bold;
}