.sidenav ul.tree {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidenav ul.tree li {
    padding-left: 20px;
    position: relative;
}

.sidenav ul.tree li:before {
    content: "";
    display: block;
    height: 1px;
    width: 10px;
    background-color: #333;
    position: absolute;
    left: 5px;
    top: 10px;
}

.sidenav ul.tree li:last-child:before {
    display: none;
}

.sidenav ul.tree li.closed>ul {
    display: none;
}

.sidenav ul.tree li>a {
    cursor: pointer;
}

.sidenav ul.tree li>a:hover {
    text-decoration: underline;
}