.sidenav-container {
    display: none;
    background: var(--sidenav-bg-color);
}

@media (min-width: 900px) {
    .sidenav-container {
      display: block;
    }
}

.sidenav-list-item.selected {
    background: #caecfc;
}

ul.tree {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.tree li {
    padding-left: 20px;
    position: relative;
}


ul.tree li:last-child:before {
    display: none;
}

ul.tree li.closed>ul {
    display: none;
}

ul.tree li>a {
    cursor: pointer;
}

ul.tree li>a:hover {
    text-decoration: underline;
}

.chevron-text-wrapper {
    display: flex;
    align-items: center;
}

ul.tree li.closed .chevron-icon-span {
    transform: rotate(0deg);
}

ul.tree .chevron-icon-span {
    background-image: url(./ch-right.svg);
    width: 10px;
    height: 10px;
    min-width: 10px;
    display: flex;
    border-radius: 50%;
    text-align: center;
    line-height: 10px;
    color: #000;
    margin-right: 0.5rem;
    font-weight: 800;
    transform: rotate(90deg);
    transform-origin: center;
    margin-top: -0.125rem;
    cursor: pointer;
}