.minitoc {
    display: none;
}

.minitoc-list {
    list-style: none;
    font-size: 10pt;
    padding: 0;
}

@media (min-width: 900px) {
    .minitoc {
      display: block;
    }
    .minitoc-container {
        width: 15rem;
    }
    
}

.minitoc-level-1 {
    margin-left: 0;
}
.minitoc-level-2 {
    margin-left: 0.75rem;
}
.minitoc-level-3 {
    margin-left: 2.25rem;
}
.minitoc-level-4 {
    margin-left: 3rem;
}
.minitoc-level-5 {
    margin-left: 3.75rem ;
}
.minitoc-level-6 {
    margin-left: 4.5rem;
}
