.minitoc {
    display: none;
}

.minitoc-list {
    text-transform: none;
    list-style: none;
    font-size: 10pt;
    padding: 0;
}

.minitoc-title {
    font-weight: 600;
    line-height: 1.125;
    color: #717171;
    font-size: 1rem;
}

main .section .minitoc-container {
    padding: 0rem;
}


@media (min-width: 900px) {
    .minitoc {
      display: block;
      text-transform: uppercase;
    }
    .minitoc-container {
        width: 15rem;
        padding: 1rem;
    }
    
}

.minitoc-level-1 {
    margin-left: 0;
}
.minitoc-level-2 {
    margin-left: 0.75rem;
}
.minitoc-level-3 {
    margin-left: 2.25rem;
}
.minitoc-level-4 {
    margin-left: 3rem;
}
.minitoc-level-5 {
    margin-left: 3.75rem ;
}
.minitoc-level-6 {
    margin-left: 4.5rem;
}
