footer {
  padding: 2rem;
  flex-grow: 1;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
}

footer .footer p {
  margin: 0;
}

footer .container {
  display: block;
  
}

footer .container > div {
  display: block;
}

footer {
  font-size: .9375rem !important;
  font-weight: 600 !important;
  color: #4b4b4b !important;
}

@media(min-width: 900px) {
  footer .container > div {
    display: flex;
    justify-content: space-between;
  }
}