footer {
  color: var(--footer-font-color) !important; 
  padding: 2rem;
  flex-grow: 1;
  background-color: var(--footer-background-color);
  font-size: var(--body-font-size-s);
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: var(--footer-border-color)
}

footer .footer {
}

footer .footer p {
  margin: 0;
}

footer .container {
  display: block;
  
}

footer .container > div {
  display: block;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  font-size: .9375rem !important;
  font-weight: 600 !important;
  color: var(--footer-font-color) !important;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  font-size: .9375rem !important;
  font-weight: 600 !important;
  color: var(--footer-font-color) !important;
}

footer p, footer a {
  font-size: var(--footer-font-size) !important;
  color: var(--footer-font-color) !important;
  font-family: var(--footer-font-family) !important;
  font-weight: var(--footer-font-weight) !important;
}

@media(min-width: 900px) {
  footer .container > div {
    display: flex;
    justify-content: space-between;
  }
}